/* 
Carolina Rodriguez
CSD-340 Module 3.2 CSS Assignment
*/

/* Container style */
#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Roboto', Arial, sans-serif;
}

/* Headings styles */
h1, h2, h3, h4 {
    background-color: #322a5c;      /* background color */
    color: #FFFFFF;     /* font color */
    border: 1px solid #D6A800;
    padding: 10px;
}

/* Anchor styling */
a {
    color: #5c00ac;     /* blends with color scheme */
    text-decoration: none;
}

/* Anchor hover */
a:hover {
    color: #D6A800;     /* accent color */
}

/* Anchor visited */
a:visited {
    color: #484b4e; 
}